html, body {
	position: fixed;
  	top: 50%;
  	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #d3d3d3;
}

#loginpanel {
	text-align: center;
}

.title {
	font-size: 22px;
	font-family: "Verdana", sans-serif;
}

#usertype {
	height:15px;
	width:75px; 
}

select {
	color: #f2f2f2;
	padding: 10px;
	font-size: 15px;
	font-family: "Verdana", sans-serif;
}
